@model ProjectMangaSmurf.Models.KhachHang

@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@inject IHttpContextAccessor HttpContextAccessor


@using Microsoft.AspNetCore.Mvc.Rendering
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Premium Membership</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styleLogin.css" asp-append-version="true" />
    <link href="~/css/stylepayment.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="~/images/icon logo.png">

    <!-- LINK REMIXICON -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">

    <!-- LINK JQUERY -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- LINK SLICK -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css" />


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css" integrity="sha512-OQDNdI5rpnZ0BRhhJc+btbbtnxaj+LdQFeh0V9/igiEPDiWE2fG+ZsXl0JEH+bjXKPJ3zcXqNyP4/F/NegVdZg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header class="header" id="header">
        <a asp-area="" asp-controller="BoTruyen" asp-action="Index" class="nav__logo">
            <img class="nav__logo-img" src="/images/logo2.png" alt="logo website">
        </a>
    </header>
    <div class="cx-decoration"><svg class="cx-decoration__lines cx-decoration__top-left-lines" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 388 727" data-t="lines-svg" aria-labelledby="lines-svg" role="img"><title id="lines-svg">Lines</title><path d="M168.269 66.4821L268.943 1.5908L268.401 0.750275L166.986 66.1194L1.1366 19.0246L0.863435 19.9866L165.874 66.8429L71.2691 127.822L0.729147 173.285L1.27088 174.126L95.4719 113.414L167.155 67.2068L291.724 102.579L143.515 419.707L1.41119 214.332L0.588844 214.901L143.025 420.756L0.546997 725.788L1.45303 726.212L143.684 421.711L223.665 537.305L224.487 536.736L144.175 420.662L292.701 102.855L386.952 129.618L387.226 128.656L293.131 101.937L340.122 1.38222L339.217 0.958847L292.156 101.66L168.269 66.4821Z"></path></svg><svg class="cx-decoration__lines cx-decoration__top-right-lines" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 457 163" data-t="lines-svg" aria-labelledby="lines-svg" role="img"><title id="lines-svg">Lines</title><path d="M456.334 162.725L0.333679 1.85438L0.66637 0.911346L456.666 161.782L456.334 162.725Z"></path></svg><svg class="cx-decoration__lines cx-decoration__bottom-left-lines" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 205 92" data-t="lines-svg" aria-labelledby="lines-svg" role="img"><title id="lines-svg">Lines</title><path d="M1.0608 0.0432434L89.5033 39.4213L126.086 55.7013L125.68 56.6149L89.0967 40.3349L0.654053 0.956785L1.0608 0.0432434ZM133.478 58.9914L134.904 59.6264L204.699 90.5414L204.702 90.5429L204.301 91.4586L204.298 91.4572L189.498 85.0306L189.494 85.0288L134.501 60.5418L133.007 59.8799L133.478 58.9914Z"></path></svg><svg class="cx-decoration__lines cx-decoration__bottom-right-lines" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 814 424" data-t="lines-svg" aria-labelledby="lines-svg" role="img"><title id="lines-svg">Lines</title><path d="M555.302 -0.000961304L813.364 273.714L812.636 274.4L554.574 0.685034L555.302 -0.000961304ZM0.224352 237.744L326.769 280.873L279.047 245.432L279.643 244.63L328.809 281.142L813.066 345.104L812.935 346.095L330.464 282.37L519.798 422.972L519.202 423.775L328.424 282.101L0.0934143 238.736L0.224352 237.744Z"></path></svg></div>
    
    <main class="main position-relative" >
        <div class="background"></div>
        <div class="main__top containers" style="z-index:1000;">
            
            <div class=" payment__content w-100 posr">
                <div class="content">
                    <img src="~/images/basicbanner.png" />
                    <a asp-area="" asp-controller="BoTruyen" asp-action="Index" class="btn-basic">View</a>
                </div>
                <div class="content">
                    <img src="~/images/premiumbanner.png" />
                    <a class="btn-pre" id="btnCheckout" data-customerid="@HttpContextAccessor.HttpContext.Session.GetString("TK")">Buy now</a>
                    <script>
                        document.addEventListener("DOMContentLoaded", function () {
                            var link = document.getElementById('btnCheckout');
                            link.addEventListener('click', function (e) {
                                var customerId = this.getAttribute('data-customerid');
                                if (customerId === null || customerId === '') {
                                    e.preventDefault();
                                    var userResponse = confirm("Bạn cần đăng nhập để đăng kí gói premium");
                                    if (userResponse) {
                                        window.location.href = '@Url.Action("Login", "KhachHang")';
                                    }
                                } else {
                                    window.location.href = '@Url.Action("Checkout", "Payment")';
                                }
                            });
                        });
                    </script>
                    <img srcset="https://static.crunchyroll.com/cr-acquisition/assets/img/landing/productsSection/mega-fan-art@2x.png 2x,
                                https://static.crunchyroll.com/cr-acquisition/assets/img/landing/productsSection/mega-fan-art@3x.png 3x"
                         src="https://static.crunchyroll.com/cr-acquisition/assets/img/landing/productsSection/mega-fan-art.png" alt="Crown." class="cr-product-card-image undefined">
                </div>
                
                <div class="img-pre">
                    <img src="~/images/imgpremium.png"/>
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    

    <script src="/js/script.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
</body>
</html>

