@{
    ViewData["Title"] = "About Us";
}
<style>
    .rounded-circle {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }

    .mb-3{
        margin-top: 5rem;
    }

    .container {
        padding-top: 30px;
    }
</style>

    <div class="container mt-5">
        <h1 class="text-center mb-3">Chào mừng bạn đọc đến với trang web của chúng tớ!</h1>
        <p class="text-center mb-5">
            Chào các bạn! Chào mừng bạn đến với thế giới Manga đa dạng của chúng tôi! Website của chúng tôi cung cấp một bộ sưu tập phong phú các loạt truyện Manga thuộc đủ thể loại. Hãy tận hưởng trải nghiệm đọc truyện mượt mà với những tính năng được thiết kế riêng cho người yêu Manga. Khám phá ngay những câu chuyện Manga yêu thích của bạn!
        </p>

        <h2 class="text-center mb-4">Team chúng tôi gồm:</h2>
        <div class="row text-center g-4">
            <!-- Team Member 1 -->
            <div class="col-md-4">
                <img src="/images/aboutUs/phong.jpg" class="rounded-circle mb-3" alt="Nguyễn Thanh Phong">
                <h3>Nguyễn Thanh Phong</h3>
                <p>Team Leader</p>
            <a href="https://www.facebook.com/" class="btn btn-primary" target="_blank">Facebook</a>
            </div>

            <!-- Team Member 2 -->
            <div class="col-md-4">
                <img src="/images/aboutUs/khanh.jpg" class="rounded-circle mb-3" alt="Vũ Trung Khánh">
                <h3>Vũ Trung Khánh</h3>
                <p>Team Member</p>
            <a href="https://www.facebook.com/" class="btn btn-primary" target="_blank">Facebook</a>
            </div>

            <!-- Team Member 3 -->
            <div class="col-md-4">
                <img src="/images/aboutUs/dan.jpg" class="rounded-circle mb-3" alt="Phạm Linh Đan">
                <h3>Phạm Linh Đan</h3>
                <p>Team Member</p>
            <a href="https://www.facebook.com/" class="btn btn-primary" target="_blank">Facebook</a>
            </div>
        </div>
    </div>

