@model IEnumerable<ProjectMangaSmurf.Models.BoTruyen>
@using ProjectMangaSmurf.Repository
@inject IboTruyenRepository boTruyenRepository

<link href="~/css/styleList.css" rel="stylesheet" />

<div class=" main__top section">
    <div class=" list__container containers list">
        <div class="top__content">
            <!--{
                IEnumerable<BoTruyen> list = Model;
                List<BoTruyen> BotruyenList = list.ToList();
                if(BotruyenList != null)
                {
                    var str = BotruyenList.First().IdLoai;
                    var loai = await boTruyenRepository.GetLoaiByIdAsync(str);
                    if (loai != null)
                    {
                        <span class="section__subtitle">DANH SÁCH TRUYỆN loai.TenLoai</span>
                    }
                }
                else
                {
                    <script>
                        alert("Hien Tai Chưa có loại truyện này !!");
                    </script>
                }
            }-->
            <span class="section__subtitle">DANH SÁCH TRUYỆN @ViewBag.Topic</span>

            <div class="controls">
                <div class="dropdown">
                    <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="ri-menu-2-fill"></i> STATUS
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">Tất cả</a></li>
                        <li><a class="dropdown-item" href="#">Hoàn thành</a></li>
                        <li><a class="dropdown-item" href="#">Đang tiến hành</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="ri-equalizer-2-line"></i> FILTER
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">Theo thời gian</a></li>
                        <li><a class="dropdown-item" href="#">View</a></li>
                        <li><a class="dropdown-item" href="#">Đánh giá</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container w-100">
            <div class="row justify-content-center">

                @{
                    var list = Model.ToList();
                    if(list.Count > 0)
                    {
                            @foreach (var botruyen in Model)
                        {
                                <div class="item col-2 update-item">
                                    <figure>
                                        @if (!string.IsNullOrEmpty(botruyen.AnhBia))
                                    {
                                        <img src="@botruyen.AnhBia" alt="truyen Image" />
                                    }
                                        <figcaption>
                                            <h6 class="item-title"><a href="#">@botruyen.TenBo</a></h6>

                                            <a href="#" class="item-chapter" style="font-size: 13px;">
                                                <span class="chap" style="margin-right: 10px; ">chap ...</span>
                                                <span class="time">... giờ trước</span>
                                            </a>
                                        </figcaption>
                                    </figure>
                                </div>
                        }
                    }
                    else
                    {
                            <script>
                                alert("Loại truyện này hiện tại chưa có truyện phù hợp !!");
                                function goBack() {
                                    window.history.back();
                                }
                                setTimeout(goBack, 1000);
                            </script>
                    }
                }
                
            </div>
        </div>
        <ul class="listPage">
        </ul>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/script.js"></script>
<script src="/js/ScriptShowList.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>