@model ProjectMangaSmurf.Models.Chapter
@using Microsoft.AspNetCore.Mvc.Rendering
@using ProjectMangaSmurf.Repository
@inject IboTruyenRepository boTruyenRepository

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
    .preview {
        max-width: 50%;
        max-height: 50%;
    }
</style>

<div class="content">
    <div class="page-header">
        <div class="page-title">
            <h2>UPLOAD NEW CHAPTER</h2>
            <h3>Bộ Truyện @ViewBag.Id</h3>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <form asp-action="AddChapter" method="post" enctype="multipart/form-data" class="row">
                @Html.AntiForgeryToken()
                <input asp-for="IdBo" type="hidden" value="@ViewBag.Id">
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label asp-for="SttChap">Chapter Number</label>
                        <input asp-for="SttChap" class="form-control" placeholder="1, 2, 3, ...">
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label asp-for="TenChap">Chapter Name</label>
                        <input asp-for="TenChap" class="form-control" placeholder="Example ...">
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label asp-for="ThoiGian">Upload Time</label>
                        <input asp-for="ThoiGian" class="form-control" type="date">
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label asp-for="TicketCost">Ticket Cost</label>
                        <input asp-for="TicketCost" class="form-control" type="byte">
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label asp-for="TkLuotxem">Initial Views</label>
                        <input asp-for="TkLuotxem" class="form-control" type="int">
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <label asp-for="TtPemium">Premium Stats</label>
                    <select asp-for="TtPemium" class="form-control">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Upload Images for Chapter</label>
                        <input type="file" name="images" class="form-control" multiple onchange="previewImages(this, 'preview1')">
                    </div>
                </div>
                <div class="col-lg-6">
                    <img class="preview" id="preview1" style="max-width: 100%; height: auto;" />
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-secondary" onclick="window.location.href='@Url.Action("Index")'">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function previewImages(input, targetID) {
        var file = input.files[0];
        if (file) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#' + targetID).attr('src', e.target.result);
            }
            reader.readAsDataURL(file);
        }
    }
</script>
