<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] ManagSmurf Admin</title>

    

    @*----------------- STYLE CSS FILE ------------------ *@
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/css/datatables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/css/select2.min.css" rel="stylesheet" />

    <link href="~/css/styleadmin.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="global-loader">
        <div class="whirly-loader"></div>
    </div>
    <div class="main-wrapper">
        <div class="header">
            <div class="header-left active">
                <a class="logo" asp-area="Admin" asp-controller="BoTruyenManager" asp-action="Index">
                    <img src="/img/logo1.png" alt="">
                </a>
                <a class="logo-small" asp-area="Admin" asp-controller="BoTruyenManager" asp-action="Index">
                    <img src="/img/iconManga.png" alt="">
                </a>
                <a id="toggle_btn" href="javascript:void(0);"></a>
            </div>
            <a id="mobile_btn" class="mobile_btn" href="#sidebar">
                <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>
            <ul class="nav user-menu">
                <li class="nav-item">
                    <div class="top-nav-search">
                        <a href="javascript:void(0);" class="responsive-search">
                            <i class="fa fa-search"></i>
                        </a>
                        <form action="#">
                            <div class="searchinputs">
                                <input type="text" placeholder="Search Here ...">
                                <div class="search-addon">
                                    <span>
                                        <img src="/img/icons/closes.svg" alt="img">
                                    </span>
                                </div>
                            </div>
                            <a class="btn" id="searchdiv">
                                <img src="/img/icons/search.svg" alt="img">
                            </a>
                        </form>
                    </div>
                </li>
                <li class="nav-item"> <partial name="_LoginPartial" /></li>
                @* <li class="nav-item dropdown has-arrow main-drop">
                    <a href="javascript:void(0);" class="dropdown-toggle nav-link userset" data-bs-toggle="dropdown">
                        <span class="user-img">
                            <img src="/img/ICONSM.png" alt="">
                            <span class="status online"></span>
                        </span>
                    </a>
                    <div class="dropdown-menu menu-drop-user">
                        <div class="profilename">
                            <div class="profileset">
                                <span class="user-img">
                                    <img src="~/img/iconsm.png" />
                                    <span class="status online"></span>
                                </span>
                                <div class="profilesets">
                                    <h6>John Doe</h6>
                                    <h5>Admin</h5>
                                </div>
                            </div>
                            <hr class="m-0">
                            <a class="dropdown-item">
                                <i class="me-2" data-feather="user"></i> My Profile
                            </a>
                            <a class="dropdown-item">
                                <i class="me-2" data-feather="settings"></i>Settings
                            </a>
                            <a class="dropdown-item" asp-area="" asp-controller="BoTruyen" asp-action="Index">
                                <i class="me-2" data-feather="user"></i>Views
                            </a>
                            <hr class="m-0">
                            <a class="dropdown-item logout pb-0">
                                <img src="/img/icons/log-out.svg" class="me-2" alt="img">Logout
                            </a>
                        </div>
                    </div>
                </li> *@
            </ul>
            <div class="dropdown mobile-user-menu">
                <a href="javascript:void(0);" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-ellipsis-v"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item">My Profile</a>
                    <a class="dropdown-item">Settings</a>
                    <a class="dropdown-item">Logout</a>
                </div>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="active">
                            <a>
                                <img src="/img/icons/dashboard.svg" alt="img">
                                <span> Dashboard</span>
                            </a>
                        </li>
                        <li class="submenu" style="text-decoration:none;">
                            <a>
                                <img src="/img/icons/time.svg" alt="img">
                                <span> Quản lý</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li>
                                    <a asp-area="Admin" asp-controller="BoTruyenManager" asp-action="Add">Quản lý Bộ truyện</a>
                                </li>
                                <li>
                                    <a asp-area="Admin" asp-controller="BoTruyenManager" asp-action="Add">Quản lý Khách hàng</a>
                                </li>
                                <li>
                                    <a asp-area="Admin" asp-controller="BoTruyenManager" asp-action="Add">Quản lý Nhân viên</a>
                                </li>
                                <li>
                                    <a asp-area="Admin" asp-controller="BoTruyenManager" asp-action="Add">Quản lý Chapter</a>
                                </li>
                                <li>
                                    <a asp-area="Admin" asp-controller="BoTruyenManager" asp-action="Add">Quản lý Tác giả</a>
                                </li>
                                <li>
                                    <a asp-area="Admin" asp-controller="BoTruyenManager" asp-action="Add">Quản lý Loại truyện</a>
                                </li>
                            </ul>
                        </li>
                        <li class="submenu" style="text-decoration:none;">
                            <a>
                                <img src="/img/icons/product.svg" alt="img">
                                <span> Thêm Mới</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li>
                                    <a asp-area="Admin" asp-controller="BoTruyenManager" asp-action="Add">Thêm Bộ truyện</a>
                                </li>
                                <li>
                                    <a asp-area="Admin" asp-controller="BoTruyenManager" asp-action="Add">Thêm Chapter</a>
                                </li>
                                <li>
                                    <a asp-area="Admin" asp-controller="BoTruyenManager" asp-action="Add">Thêm Tác giả</a>
                                </li>
                                <li>
                                    <a asp-area="Admin" asp-controller="BoTruyenManager" asp-action="Add">Thêm Loại truyện</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            @RenderBody()
        </div>
    </div>


    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/feather.min.js"></script>
    <script src="~/js/jquery.slimscroll.min.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/plugins/apexchart/apexcharts.min.js"></script>
    <script src="~/plugins/apexchart/chart-data.js"></script>
    <script src="~/js/select2.min.js"></script>
    <script src="~/js/custom-select.js"></script>
    @*----------------- SCRIPT ADMIN ------------------ *@
    <script src="~/js/scriptAdmin.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
